:root{
  --red: hsl(7,99%,70%);
  --yellow: hsl(51, 100%, 49%);
  --cyan:hsl(167, 40%, 24%);
  --blue:#3DBEFF;
  --blueDark:hsl(198, 62%, 26%);
  --cyanModerate: hsl(168, 34%, 41%);
  --blueVeryDark:hsl(212, 27%, 19%);
  --blueVeryDarkGray:hsl(213, 9%, 39%);
  --blueDarkGrey:hsl(232, 10%, 55%);
  --blueGrey:hsl(210, 4%, 67%);
  --white:hsl(0, 0%, 100%);
  --spacing: 1rem;
}

#root{
  height: 100%;

}
.app{
  height: 100%;
}
.app>h6{
  color: var(--blueGrey);
  text-align: center;
  letter-spacing: 1.7px;
  font-size: 1.5rem;
  margin:2rem 0 0 0;
}


@media only screen and (min-width: 768px) {
  .app__section2Container {
    display: flex;
  }
  .app__section3Container{
    display: flex;
  }
.app>h6{
  margin-top: -10%;
}
}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}